<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc... -->
  <!--<add name="IdentityServerConfiguration"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->
  <add name="IdentityServerConfiguration"
       connectionString="server=.\sqlexpress;database=IdvConfig;trusted_connection=yes;"
       providerName="System.Data.SqlClient" />

  <add name="SqlServer"
       connectionString="server=.\sqlexpress;database=IdvConfig;trusted_connection=yes;"
       providerName="System.Data.SqlClient" />
	
  <!--<add name="SqlCe"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->

  <!-- user database (LocalDB) -->
  <add name="ProviderDB"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=.\sqlexpress;Initial Catalog=IdvUsers;Integrated Security=SSPI;" />

  <!-- user database (SQLCE) -->
  <!--<add name="ProviderDB"
       connectionString="Data Source=|DataDirectory|\IdentityServerUsers.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->
</connectionStrings>
